In [2]:
import pandas as pd

datos = [1, 2, 3, 4, 5, 6]
indices = list('abcdef')
a = pd.Series(datos, index=indices)

a[a % 2 == 0]

b    2
d    4
f    6
dtype: int64

In [3]:
edad    = [20,30,20,50,60,70]
nombres = ['juan', 'ana', 'luis', 'pedro', 'maria', 'carmen']

edades = pd.Series(edad, index=nombres)
edades['juan']
edades[edades > 30]

edades.describe()

count     6.000000
mean     41.666667
std      21.369761
min      20.000000
25%      22.500000
50%      40.000000
75%      57.500000
max      70.000000
dtype: float64

In [4]:
datos = {
    'nombres': ['juan', 'ana', 'luis', 'pedro', 'maria', 'carmen'],
    'edad':    [20, 30, 20, 50, 60, 70],
    'sexo':    ['M', 'F', 'M', 'M', 'F', 'F']
}

t = pd.DataFrame(datos, index=[1000, 1001, 1002, 1003, 1004, 1005])

def calcularPeso(sexo):
    if sexo == 'F':
        return 60
    else:
        return 80
    
def calcularPeso2(sexo):
    return 60 if sexo == 'F' else 80 
    #JS   sexo == 'F' ? 60 : 80 

calcularPeso3 = lambda sexo: 60 if sexo == 'F' else 80

def suma(a,b): return a + b 
suma = lambda a,b: a + b 


t['peso'] = t['sexo'].apply(lambda sexo: 61 if sexo == 'F' else 81)
t.groupby('sexo').describe()

      edad                                                      peso        \
     count       mean        std   min   25%   50%   75%   max count  mean
sexo
F      3.0  53.333333  20.816660  30.0  45.0  60.0  65.0  70.0   3.0  61.0
M      3.0  30.000000  17.320508  20.0  20.0  20.0  35.0  50.0   3.0  81.0


      std   min   25%   50%   75%   max
sexo
F     0.0  61.0  61.0  61.0  61.0  61.0
M     0.0  81.0  81.0  81.0  81.0  81.0

In [13]:
import sqlite3

c = pd.read_excel('catalogo.csv')

c.groupby('tipo')['precio'].mean()

c['importe'] = c['precio'] * c['cantidad']
ppp = c['importe'].sum() / c['cantidad'].sum()

# Connect to the SQLite database
conn = sqlite3.connect('seculi.db')

# Read data from the database into a pandas DataFrame
query = "SELECT * FROM catalogo"
c_db = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the DataFrame
c_db.head()

2000.0