#TP3

## Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- fecha:    10 lugares
- producto: 30 lugares
- precio:   10 lugares
- cantidad:  5 lugares

hacer una funcion que carge los en una lista de diccionarios. 

nota: con 
```python
lineas = open("datos.dat", "r").readlines() 
```
puede obtener la lista de string de todos los datos

In [8]:
import pandas as pd 

pd.options.display.float_format = '{:.2f}'.format

def cargar_datos():
    datos = pd.read_fwf("datos.dat", 
                       widths=[10, 30, 10, 5], 
                       names= ['fecha', 'producto', 'precio', 'cantidad'])
    datos['fecha'] = pd.to_datetime(datos['fecha'])
    return datos 

datos = cargar_datos()
datos

         fecha    producto  precio  cantidad
0   2024-08-27     Mirinda    1510        14
1   2024-08-27     Mirinda    1560        12
2   2024-08-28     Torasso     940         8
3   2024-08-29  Pepsi Cola    1210        10
4   2024-08-30     Mirinda    1520         1
5   2024-09-01     Mirinda    1550        15
6   2024-09-01      Sprite     810         4
7   2024-09-02   Coca Cola    1100         4
8   2024-09-02  Pepsi Cola    1220        13
9   2024-09-02     Torasso     910         5
10  2024-09-02     Torasso     920         3
11  2024-09-03   Coca Cola    1020         8
12  2024-09-03     Mirinda    1570         7
13  2024-09-03     Mirinda    1590         2
14  2024-09-04  Pepsi Cola    1220        13
15  2024-09-05     Mirinda    1500         3
16  2024-09-05  Pepsi Cola    1300         5
17  2024-09-06   Coca Cola    1080         1
18  2024-09-06      Sprite     860        12
19  2024-09-06     Torasso     930         3
20  2024-09-07   Coca Cola    1080        14
21  2024-09-07      Sprite     870        13
22  2024-09-08   Coca Cola    1040        10
23  2024-09-08     Mirinda    1580         2
24  2024-09-08  Pepsi Cola    1240         9
25  2024-09-09     Mirinda    1500         3
26  2024-09-09      Sprite     850         9
27  2024-09-10     Mirinda    1590         8
28  2024-09-10  Pepsi Cola    1250        12
29  2024-09-11      Sprite     810         6
30  2024-09-11      Sprite     820        14
31  2024-09-12   Coca Cola    1080         4
32  2024-09-13     Mirinda    1580         5
33  2024-09-13  Pepsi Cola    1250        13
34  2024-09-14   Coca Cola    1080        15
35  2024-09-14  Pepsi Cola    1270        14
36  2024-09-15   Coca Cola    1100         1
37  2024-09-15     Mirinda    1500        13
38  2024-09-15      Sprite     870        14
39  2024-09-15     Torasso     900        13

## Ejercicio 2: Calcular el total de ventas.

Hacer una funcion que sume los importes vendidos (precio * cantidad) y las cantidades

In [9]:
def calcular_totales(datos):
    datos['importe'] = datos['precio'] * datos['cantidad']
    return datos['importe'].sum(), datos['cantidad'].sum()

importe, cantidad = calcular_totales(datos)
print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")

Las ventas fueron de $392730.00 en 335 unidades

## Ejercicio 3: Listar las unidades vendidas.

Listar cuantas unidades se vendieron en total para cada producto

In [10]:
def unidades_vendidas(datos):
    return datos.groupby('producto')['cantidad'].sum()

unidades_vendidas(datos)

producto
Coca Cola     57
Mirinda       85
Pepsi Cola    89
Sprite        72
Torasso       32
Name: cantidad, dtype: int64

##  Ejercicio 4: Listar el precio promedio por producto.

Hacer un listado del precio promedio por productos.

In [11]:
def precio_promedio(datos):
    return datos.groupby('producto', ).apply(precio_ponderado, include_groups=False)

def precio_ponderado(grupo):
    return grupo['importe'].sum() / grupo['cantidad'].sum()

precio_promedio(datos)

producto
Coca Cola    1066.32
Mirinda      1542.12
Pepsi Cola   1241.69
Sprite        847.78
Torasso       916.25
dtype: float64

### Ejercicio 5: Ranking de productos

Realizar un listado de los 3 productos mas vendidos ordenados la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [14]:
def ranking_productos(datos, top=3):
    return datos.groupby('producto')['cantidad'].sum().sort_values(ascending=False).head(top)

ranking_productos(datos)

producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Name: cantidad, dtype: int64

### Ejercicio 6: Listar las ventas por mes

Realizar un listado del total de unidades vendidas por productos separada por mes.

In [19]:
def ventas_por_mes(datos):
    datos['fecha'] = pd.to_datetime(datos['fecha'])
    datos['mes'] = datos['fecha'].dt.to_period('M')
    return datos.groupby(['mes', 'producto'])['cantidad'].sum()

ventas_por_mes(datos)

mes      producto
2024-08  Mirinda       27
         Pepsi Cola    10
         Torasso        8
2024-09  Coca Cola     57
         Mirinda       58
         Pepsi Cola    79
         Sprite        72
         Torasso       24
Name: cantidad, dtype: int64

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [20]:
import pandas as pd

def resumen_ventas(datos):
    resumen = datos.groupby('producto').agg({
        'importe': 'sum',
        'cantidad': 'sum'
    }).reset_index()
    resumen['precio_promedio'] = resumen['importe'] / resumen['cantidad']
    return resumen

resumen_ventas(datos)

     producto  importe  cantidad  precio_promedio
0   Coca Cola    60780        57          1066.32
1     Mirinda   131080        85          1542.12
2  Pepsi Cola   110510        89          1241.69
3      Sprite    61040        72           847.78
4     Torasso    29320        32           916.25